<link rel="stylesheet" href="/flagpack/flagpack.css"/>
<table class="table table-responsive table-bordered">
        <% for (const elo of elos) { %>
    <tr>
            <td><%- elo.rank %></td>
            <td><span class="fp fp-md <%- elo.flag.toLowerCase() %>"></span></td>
            <td><%- elo.firstName %></td>
            <td><%- elo.lastName.toUpperCase() %></td>
            <td><%- elo.gender %></td>
            <% for (rankElo of elo.rankElos) {%>
                <td>
                    <%- rankElo[1] %> ==> <%- rankElo[2] %>
                </td>
            <% }%>
    </tr>
        <% } %>
</table>